/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    height: 80px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px lightgray;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%; */
}

header nav ul li{
    list-style: none;
    padding: 0 10px;
}

header a{
    text-decoration: none;
    color: black;
    vertical-align: sub;
}




.button-start{
    color: white;
    background-color: #0061FF;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
}

/* /General */


/* Utilities */

.d-flex{
    display: flex;
}

.f-dir-row{
    flex-direction: row;
}

.f-dir-col{
    flex-direction: column;
}

.space-bet{
    justify-content: space-between;
}

.px-20{
    padding: 0 20px;
}


/* /Utilities */

/* Jumbotron */
.jumbotron{
    background-color: #B4D0E7;
    height: 100vh;
    
}

.jumbotron p{
    width: 70%;
}

.jumbotron span{
    display: block;
}

.jumbo-img img{
    width: 60%;
    height: 60%;
}